@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --cor1: #22018C;
    --cor2: #FF8B87;
    --cor3: #FFFFFF;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main#conteudo_principal {

    padding: 15px;
    width: 90%;
}

div.cont_tits {

    background-color: var(--cor2);
    color: var(--cor3);
    border-radius: 20px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.329);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.37);
    text-align: center;

    margin-bottom: 30px;
    padding: 10px;
}

form#formulario {

    background-color: var(--cor1);
    color: #FFFFFF;
    border-radius: 20px 30px;
    border-left: 2px solid var(--cor2);
    border-bottom: 2px solid var(--cor2);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.315);

    padding: 20px;
    margin-bottom: 30px;
}

div.cont_lab_inp {

    display: flex;
    flex-direction: column;
    background-color: var(--cor2);
    border-radius: 15px;

    padding: 10px;
    margin-bottom: 10px;
}

div.cont_lab_inp > label {
    padding: 3px;
}

div.cont_lab_inp > input {

    border-radius: 10px;
    border: none;
    box-shadow: 0px 1px 1px;

    width: 200px;
    padding: 5px;
}

div.res {
    background-color: var(--cor3);
    color: var(--cor1);
    border-radius: 30px;

    padding: 15px;
    margin-bottom: 20px;
}

div.res > label {
    font-size: 1.2em;
    font-weight: 600;

    padding: 5px;
}

div.res > input {

    font-size: 1em;
    font-weight: bolder;
    border-radius: 10px;
    border: 2px solid black;

    padding: 5px;
    width: 70px;
}

div.res > span {
    font-weight: bolder;
    padding: 5px;
}

div.botoes {
    text-align: center;
    padding: 5px;
}

div.botoes > input {
    cursor: pointer;
    background-color: var(--cor3);
    border: 2px solid black;
    border-radius: 5px;
    font-size: 1em;
    font-weight: bold;
    padding: 5px;
    transition: 0.2s ease-in-out;

    margin: 0px 5px;
}

div.botoes > input:hover {
    transform: translateY(-2px);

}

section#resultado {

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.452);
    border-radius: 30px;
    border-right: 2px solid var(--cor1);
    border-bottom: 2px solid var(--cor1);

    padding: 20px;
}

section#resultado > h2 {

    font-size: 2em;
    border-bottom: 1px solid black;
    
    padding: 5px;
    margin-bottom: 35px;
}

p.pessoa {
    border-bottom: 1px solid black;

    padding: 0px;
    margin-bottom: 35px;
}