@charset "UTF-8";

* {

    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;

    margin: 0px;
    padding: 0px;
}

:root {
    --cor1: #3941ED;
    --cor2: #3941ED;
    --cor3: #6C39ED;
    --cor4: #A739ED;
    --cor5: #3498bd;
}

body, html {
    background-color: var(--cor3);

    height: 100vh;
    width: 100vw;
}

main {
    
    width: 100vw;
    height: 100vh;
    margin: auto;
    position: relative;
    
}

section#containers {
    display: block;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.459);
    overflow: hidden;

    width: 280px;
    height: 500px;
    transition: width .3s, height .3s;
    transition-timing-function: ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div#imagem {
    display: block;
    background: var(--cor1) url('../imagens/predio.jpg') no-repeat;
    background-size: cover;
    
    height: 200px;

}

div#formulario {
    display: block;

    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    color: var(--cor3);
    font-size: 1.6em;
    text-shadow: 0.5px 0.5px 2px rgba(0, 0, 0, 0.445);

    padding: 10px;
}

div#formulario > p {
    font-size: 0.9em;
    text-align: justify;
    
}

form {
    display: block;
}

div#formulario > form > div {
    background-color: var(--cor4);
    border: 2.2px solid #7b06c4;
    border-radius: 10px;

    margin: 7px 0px;
    width: 100%;
    height: 40px;
    display: block;
}

span.material-icons {
    font-size: 1.9em;
    color: white;
    
    width: 40px;
    padding: 5px;
}

input.dados {
    background-color: #baa4f1;
    border: none;
    border-radius: 8px;
    width: calc(100% - 45px);
    height: 98%;
    transform: translateY(-12px);
    padding: 4px;
}

input.botao {

    font-size: 1.1em;
    cursor: pointer;
    background-color: var(--cor1);
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 1.5px 1.5px 2px rgba(0, 0, 0, 0.384);
    transition: 0.5s;

    width: 100%;
    padding: 8px;
    margin-top: 4px;
}

input.botao:hover{
    background-color: #1621eb;
    transform: translateY(-3px);
    transition: transform 0.5s;
}